
<!DOCTYPE html>
<html>
<head>
<title>Flower Catalog</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1 class="text-center">Flower Catalog</h1>
<div class="row">
{% for flower in flowers %}
<div class="col-sm-4">
<img src="{{ flower.image_url }}" alt="{{ flower.name }}" class="img-fluid">
<h3 class="text-center">{{ flower.name }}</h3>
<p>{{ flower.description }}</p>
</div>
{% endfor %}
</div>
</div>
</body>
</html>

